/* Colors */
$blue: #207ADB;
$blue-2: #039BE5;
$orange: #FE9828;
$red: #F54528;
$black: #1E201D;
$border: #DBDBDB;
$light-grey: #F8F8F8;
$grey: #AAAAAA;

/* Others */
$box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);

/* Fonts */
$font-body: "Mont", sans-serif;
$font-title: "TTFirsNeue", sans-serif;
