.header{
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 41px 0 15px;

  background-color: transparent;

  transition: 300ms ease-in-out;

  @include netbook{
    padding-top: 15px;
  }

  &-active{
    padding: 15px 0;
    background-color: transparent;
  }

  &__logo{
    width: 42px;
    height: 100%;

    display: flex;
    align-items: center;
  }

  &__menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 88px;
    &_list{
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_item{
      margin-left: 25px;
      margin-right: 25px;
      a{
        color: white;
        font-weight: 400;
        padding: 5px 0 12px;
        border-bottom: 2px solid #ffffff30;
        position: relative;
        display: inline-block;
        transition: color .1s ease-in-out;

        &::after{
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          display: inline-block;
          width: 0%;
          height: 2px;
          background-color: white;
          transition: 250ms ease-in-out;
        }
        &:hover{
          text-decoration: none;
          color: $orange;
          &:after{
            width: 100%;
            background-color: $orange;
          }
        }

      }

      &_active{
        a{
          color: $orange;

          &::after{
            background-color: $orange;
          }
        }
      }
    }
  }

  &__controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hamburger_menu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      &_line{
        width: 35px;
        height: 2px;
        background-color: #fff;

        &_top{
          width: 24px;
          margin-bottom: 9px;
        }
      }
    }
  }

  &__burger{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  &__social{
    display: flex;

    &_item{
      width: 48px;
      display: block;
      margin: 0 24px 0 0;
    }
  }
}